.additional-ingredient {
  margin: 0;
  padding-top: 42px;
  padding-bottom: 35px;

  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $green;
    z-index: -1;
  }
}

.additional-ingredient__box {
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.additional-ingredient__volume,
.additional-ingredient__price {
  margin: 0;
}

.additional-ingredient__title {
  display: inline-block;
  vertical-align: middle;
  margin: -15px 10px 32px -20px;
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: $color-base-text;
  background-color: white;
}

.additional-ingredient__list {
  @include reset-list;
  border-top: 1px solid $grey-silver;
}

.additional-ingredient__item {
  padding: 15px 0;
  border-bottom: 1px solid $grey-silver;
}

.additional-ingredient__sub {
  margin: 0;
  margin-bottom: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $grey-shadow;
  text-transform: uppercase;
}

.additional-ingredient__btn {
  margin-top: 12px;
}

.additional-ingredient__offer-wrap {
  position: relative;
  margin-top: 39px;
  width: 100%;
  min-height: 289px;
  background: $green url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.additional-ingredient__offer-wrap::after {
  content: "";
  position: absolute;
  display: block;
  top: 65px;
  left: 40%;
  width: 55px;
  height: 60px;
  background: url("../img/icon-gift.svg");
}

.additional-ingredient__offer {
  margin: 0 auto;
  padding-top: 185px;
  max-width: 170px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
}

@media (min-width: $tablet-width) {
  .additional-ingredient {
    padding-top: 56px;
    padding-bottom: 73px;
  }

  .additional-ingredient__title {
    padding-left: 30px;
    margin: -20px 0 76px 0;
    font-size: 36px;
    line-height: 1;
  }

  .additional-ingredient__item {
    padding: 25px 37px;
    border-left: 1px solid $grey-silver;
    border-right: 1px solid $grey-silver;
  }

  .additional-ingredient__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .additional-ingredient__sub {
    font-size: 20px;
    line-height: 1;
  }

  .additional-ingredient__offer-wrap {
    margin-top: 69px;
    min-height: 200px;
    background: $green url("../img/gift-photo-tablet@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .additional-ingredient__offer-wrap::after {
    left: 13%;
  }

  .additional-ingredient__offer {
    padding: 70px 35px;
    margin-right: 85px;
    max-width: 235px;
    text-align: left;
  }

  .additional-ingredient__box {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .additional-ingredient__volume {
    margin: 0;
    width: 150px;
  }

  .additional-ingredient__price {
    margin: 0;
    width: 100px;
  }
}

@media (min-width: $desktop-width) {
  .additional-ingredient__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .additional-ingredient {
    padding-top: 66px;
    padding-bottom: 84px;
  }

  .additional-ingredient__title {
    padding-left: 0;
  }

  .additional-ingredient__list {
    width: 895px;
  }

  .additional-ingredient__item {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    align-items: center;
    border-left: none;
    border-right: none;
  }

  .additional-ingredient__wrapper {
    justify-content: space-between;
  }

  .additional-ingredient__sub {
    margin-bottom: 0;
    margin-right: 40px;
    width: 280px;
  }

  .additional-ingredient__box {
    text-align: left;
  }

  .additional-ingredient__volume {
    width: 210px;
  }

  .additional-ingredient__price {
    width: 120px;
    text-align: center;
  }

  .additional-ingredient__btn {
    width: 245px;
    margin-top: 0;
    margin-left: auto;
  }

  .additional-ingredient__offer-wrap {
    margin-left: auto;
    margin-top: 0;
    min-height: 289px;
    width: 245px;
    background: $green url("../img/gift-photo-desktop@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .additional-ingredient__offer-wrap::after {
    left: 38%;
  }

  .additional-ingredient__offer {
    padding: 185px 35px 45px;
    width: 235px;
    text-align: center;
    padding-top: 185px;
  }
}
