.additional-ingredient {
  margin: 0;
  padding-top: 30px;
}

.additional-ingredient__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.additional-ingredient__list {
  @include reset-list;
  border-top: 1px solid $grey-silver;
}

.additional-ingredient__item {
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid $grey-silver;
}

.additional-ingredient__sub {
  margin: 0;
  margin-bottom: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.additional-ingredient__volume,
.additional-ingredient__price {
  margin: 0;
  line-height: 1;
  color: $grey-dark;
}

.additional-ingredient__btn {
  margin-top: 15px;
}

.additional-ingredient__offer {
  min-height: 289px;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  background: $green url("../img/gift-photo-mobile@1x.jpg") no-repeat;
}

@media (min-width: $tablet-width) {
  .additional-ingredient {
    padding-top: 70px;
    margin-bottom: 76px;
  }

  .additional-ingredient__title {
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 1;
  }

  .additional-ingredient__item {
    padding: 27px 37px;
    border: 1px solid $grey-silver;
  }

  .additional-ingredient__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .additional-ingredient__sub {
    flex: 0 0 50%;
    font-size: 20px;
    line-height: 1;
  }

  .additional-ingredient__box {
    display: flex;
    margin-left: auto;
  }

  .additional-ingredient__offer {
    margin-top: 69px;
    background: $green url("../img/gift-photo-tablet@1x.jpg") no-repeat;
    min-height: 200px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional-ingredient__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .additional-ingredient__list {
    width: 895px;
  }

  .additional-ingredient__item {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    align-items: center;
  }

  .additional-ingredient__wrapper {
    justify-content: space-between;
  }

  .additional-ingredient__btn {
    width: 245px;
    margin-top: 0;
    margin-left: auto;
  }

  .additional-ingredient__offer {
    margin-left: auto;
    margin-top: 0;
    width: 245px;
    background: $green url("../img/gift-photo-desktop@1x.jpg") no-repeat;
  }

  .additional-ingredient {
    padding-top: 70px;
    margin-bottom: 86px;
  }
}
