.advantages__container {
  padding-top: 20px;
  padding-bottom: 45px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.advantages__item {
  margin-bottom: 20px;
  flex: 0 0 100%;

  &:last-child {
    margin-bottom: 0;
  }

  .advantages__desc {
    margin: 0;
    color: $grey-dark;
  }
}

@media (min-width: $tablet-width) {
  .advantages__container {
    padding-bottom: 55px;
  }

  .advantages__title {
    margin-bottom: 60px;
  }

  .advantages__list {
    flex-direction: row;
  }

  .advantages__item {
    flex: 0 0 46%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
    min-height: 230px;

    &:nth-child(2n+1) {
      padding-left: 0;
    }
  }

  .advantages__desc {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    flex: 0 0 20%;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }
}
