.btn {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 10px 22px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $green;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
