.catalog__list {
  padding: 0;
  margin: 0 -20px;
  list-style: none;
}

.catalog__item {
  position: relative;
  padding: 0 20px 23px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $grey-silver;

  &--more {
    text-align: center;
    border-bottom: 1px solid $grey-silver;
  }

  &--more::after {
    position: absolute;
    content: "";
    top: 25px;
    left: 45%;
    width: 31px;
    height: 31px;
    background: white url("../img/icon-plus.svg") no-repeat center;
  }
}

.catalog__wrapper {
  flex: 0 0 50%;
}

.catalog__link {
  display: block;
  flex: 0 0 50%;
  text-decoration: none;
}

.catalog__title {
  padding: 23px 50px 10px 0;
  margin: 0;
  max-width: 130px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-base-text;

  &--more {
    padding: 0;
    max-width: none;
    margin: 0 auto 8px;
  }
}

.catalog__item-img {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}

.catalog__info {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: $grey-dark;
  border-collapse: collapse;
}

.catalog__item-name {
  font-weight: 400;
}

.catalog__item-value {
  text-align: right;
}

.catalog__btn--grey {
  color: $grey-dark;
  background-color: $grey;

  &:hover {
    background-color: $grey-coin;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.catalog__inner {
  padding-top: 80px;
  flex: 0 0 100%;
}

.catalog__promo {
  margin: 0 0 22px;
  font-size: 12px;
  line-height: 16px;
  color: $grey-dark;
}

@media (max-width: $tablet-width - 1) {
  .catalog__list {
    border-top: 1px solid $grey-silver;
  }
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include reset-list;
  }

  .catalog__link {
    margin: 0 auto;
    flex: 0 0 auto;
  }

  .catalog__item {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 120px;
    padding: 38px 38px 35px 36px;
    flex: 0 0 324px;
    background-color: $grey;

    &::after {
      border-bottom: none;
    }

    &--more {
      background-color: white;
      border: 1px solid $grey;
      padding: 0 38px 42px;
    }

    &--more::after {
      top: 57px;
      left: 40%;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
    }
  }

  .catalog__item-img {
    flex: 0 0 auto;
    max-width: inherit;
    margin: -120px -40px 0;
  }

  .catalog__wrapper {
    margin: 0 auto;
    width: 249px;
    display: block;
  }

  .catalog__title {
    max-width: 160px;
    margin: 36px auto 13px;
    padding: 3px;
    font-size: 20px;

    &--more {
      margin: 0 auto 20px;
    }
  }

  .catalog__info {
    margin-bottom: 30px;
    width: 249px;
    font-size: 16px;
    line-height: 1;
  }

  .catalog__info tr {
    border-bottom: 1px solid $grey-pinkish;
  }

  .catalog__item-name {
    padding: 9px 8px 8px 0;
    text-align: left;
    font-size: 16px;
  }

  .catalog__item-value {
    padding-top: 7px;
    padding-bottom: 4px;
    text-align: right;
    font-size: 16px;
  }

  .catalog__btn {
    align-items: baseline;
    margin-top: auto;
  }

  .catalog__inner {
    padding-top: 164px;
  }

  .catalog__promo {
    margin: 0 auto 82px;
    font-size: 16px;
    width: 180px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    padding-bottom: 37px;
    flex: 0 0 245px;
  }

  &--more {
    background-color: white;
    border: 1px solid $grey;
    padding: 0 38px 40px;
  }

  .catalog__wrapper {
    width: 169px;
  }

  .catalog__info {
    width: inherit;
  }

  .catalog__inner {
    padding-top: 162px;
  }

  .catalog__title--more {
    margin: 0 auto 23px;
  }

  .catalog__promo {
    width: 170px;
  }
}
