.contacts {
  padding-top: 28px;
  padding-bottom: 25px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  margin: 0;
  flex: 0 0 50%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-base-text;
  text-transform: uppercase;
}

.contacts__adress {
  margin: 0;
  flex: 0 0 50%;
  line-height: 20px;
}

.contacts__map {
  height: 365px;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 61px 70px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    max-width: 170px;
  }

  .contacts__adress {
    font-size: 16px;
    line-height: 20px;
    max-width: 170px;
  }

  .contacts__city {
    display: block;
    margin-top: 20px;
  }

  .contacts__map {
    height: 400px;
  }
}
