.contacts {
  padding-top: 28px;
  padding-bottom: 25px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__title {
  margin: 0;
  flex: 0 0 50%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-base-text;
  text-transform: uppercase;
}

.contacts__adress {
  margin: 0;
  flex: 0 0 50%;
  line-height: 20px;
  text-align: left;

  &--catalog {
    text-align: left;
  }
}

.contacts__city {
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 62px 60px 55px 59px;

    &--index {
      padding-top: 59px;
    }
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    max-width: 200px;
  }

  .contacts__adress {
    padding: 5px 5px;
    font-size: 16px;
    line-height: 20px;
    max-width: 200px;
    text-align: right;
  }

  .contacts__city {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    top: 100px;
    left: 110px;
    padding: 53px 55px 55px 73px;
    z-index: 2;
    max-width: 570px;
    background-color: white;

    &--catalog {
      padding: 53px 48px 55px 77px;
    }
  }

  .contacts__adress {
    padding: 8px;
    max-width: 200px;
    text-align: left;
  }
}
