.contacts {
  padding-top: 28px;
  padding-bottom: 25px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__title {
  margin: 0;
  flex: 0 0 50%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-base-text;
  text-transform: uppercase;
}

.contacts__adress {
  margin: 0;
  flex: 0 0 50%;
  line-height: 20px;
  text-align: left;

  &--catalog {
    text-align: left;
  }
}

.contacts__city {
  display: block;
}

.contacts__map {
  position: relative;
}

.contacts__wrap {
  display: block;
  height: 365px;
  text-align: center;
}

.contacts__img {
  height: 365px;
}

.contacts__map iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 62px 60px 55px 56px;

    &--index {
      padding-top: 59px;
    }
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    max-width: 200px;
  }

  .contacts__adress {
    padding: 5px 5px;
    font-size: 16px;
    line-height: 20px;
    max-width: 200px;
    text-align: right;
  }

  .contacts__city {
    display: block;
    margin-top: 20px;
  }

  .contacts__map,
  .contacts__map iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    top: 100px;
    left: 70px;
    padding: 62px 55px 55px 85px;
    z-index: 2;
    max-width: 570px;
    background-color: white;

    &--index {
      padding-top: 53px;
      left: 110px;
    }

    &--catalog {
      padding: 52px 47px 55px 80px;
      left: 35px;
    }
  }

  .contacts__adress {
    padding: 8px;
    max-width: 190px;
    text-align: left;
  }

  .contacts__map {
    height: 400px;
  }
}
