.copyright__logo-icon {
  fill: $grey-brownish;

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding-left: 21px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link {
    padding-left: 22px;
  }
}
