.copyright__logo-icon {
  fill: $grey-brownish;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright:hover .copyright__logo-icon,
.page-footer__copyright:focus .copyright__logo-icon {
  fill: $green;
}

@media (min-width: $tablet-width) {
  .copyright__academy {
    padding-left: 21px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__academy {
    padding-left: 22px;
  }
}
