.form {
  padding-bottom: 32px;
}

.form__block {
  border: none;
  padding: 0;
  margin: 0;

  &--cat {
    padding-top: 40px;
    padding-bottom: 9px;
  }

  &--programm {
    padding: 16px 0;
    margin: 0 -20px;
    border-bottom: 1px solid $grey-silver;
    border-top: 1px solid $grey-silver;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &--owner {
    margin-top: 42px;
    margin-bottom: 29px;
  }

  &--comment {
    padding-bottom: 39px;
  }

  &--addition {
    display: flex;
    flex-wrap: wrap;
  }

  &--owner::before,
  &--comment::before,
  &--addition::before {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $green;
    z-index: -1;
  }
}

.form__block-title {
  display: inline-block;
  vertical-align: middle;
  margin: -15px 10px 35px -40px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: white;

  &--width {
    margin-right: 75px;
    padding-right: 0;
  }

  &--comment {
    margin-bottom: 34px;
  }
}

.form__text-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 13px;
}

.form__text-label {
  max-width: 40%;
  margin-right: 9px;
  flex-shrink: 0;
}

.form__textarea {
  padding: 10px 0 0 11px;
  min-height: 150px;
}

.form__text-input {
  padding: 12px;
}

.form__textarea,
.form__text-input {
  width: 100%;
  outline: none;
  border: 1px solid $grey-pinkish;
  color: $grey-dark;

  &:hover {
    border-color: $grey-fog;
    box-shadow: inset 0 0 0 1px $grey-fog;
  }

  &:active {
    border-color: $grey-dark;
    box-shadow: inset 0 0 0 1px $grey-dark;
    outline: none;
  }

  &--invalid {
    border-color: $red;
    box-shadow: inset 0 0 0 1px $red;
  }
}

.form__text-input:active ~ .form__icon {
  fill: $green;
}

.form__text-input--invalid ~ .form__icon {
  fill: $red;
}

.form__icon {
  position: absolute;
  top: 40%;
  right: 15px;
  transform: translateY(-50%);
  fill: $grey-shadow;

  &:hover {
    fill: $grey-shadow;
  }

  &--email {
    width: 17px;
    height: 13px;
  }

  &--phone {
    width: 20px;
    height: 20px;
  }
}

.form__radio {
  &:focus + .form__radio-label {
    outline: none;
  }
}

.form__radio-label {
  position: relative;
  padding: 12px 0 12px 66px;
  outline: none;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid $grey-pinkish;
    border-radius: 50%;
    box-sizing: border-box;
  }

  &:hover::before {
    border: 1px solid $grey-fog;
  }

  &:active {
    opacity: 0.3;
  }
}


.form__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 30px;
  width: 12px;
  height: 12px;
  background-color: $green;
  border-radius: 50%;
}

.form__checkbox-label {
  display: block;
  position: relative;
  padding: 9px 0 14px 50px;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $grey-pinkish;
    box-sizing: border-box;
    background-position: 50% 50%;
  }

  &:hover::before {
    border: 1px solid $grey-fog;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 22px;
  left: 7px;
  bottom: 25px;
  border-left: 1px solid $green;
  border-bottom: 1px solid $green;
  transform: rotate(-45deg);
}

.form__btn-submit {
  margin-top: 24px;
  margin-bottom: 22px;
  font-size: 16px;
}

.form__legend {
  text-align: center;
  display: block;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 69px;
  }

  .form__text-wrapper {
    padding-bottom: 19px;
  }

  .form__radio-label {
    padding: 23px 0 9px 86px;

    &::before {
      top: 9px;
      left: 29px;
      width: 40px;
      height: 40px;
    }
  }

  .form__radio:checked + label::after {
    top: 20px;
    left: 40px;
    width: 18px;
    height: 18px;
  }

  .form__block-wrapper,
  .form__block-inner,
  .form__wrapper-submit {
    padding-left: 59px;
    padding-right: 59px;
  }

  .form__block--cat {
    padding-top: 62px;
    padding-bottom: 55px;
  }

  .form__block--programm {
    padding-top: 13px;
    padding-bottom: 25px;
    margin: 0;
    border: 1px solid $grey-silver;
  }

  .form__block--owner {
    margin-top: 95px;
    margin-bottom: 70px;
  }

  .form__block--comment {
    padding-bottom: 84px;
  }

  .form__block-title {
    margin-bottom: 70px;
    margin-top: -20px;

    &::after {
      left: -60px;
    }

    &--width {
      margin-right: 0;
      top: 55%;
    }

    &--extra {
      margin-bottom: 57px;
    }

    &--addition {
      margin-bottom: 52px;
    }
  }

  .form__textarea {
    padding: 15px 20px 7px;
    line-height: 30px;
    min-height: 174px;
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__checkbox-label {
    padding: 10px 0 11px 55px;

    &::before {
      width: 40px;
      height: 40px;
      left: 0;
      top: 2px;
    }

    &::after {
      left: 15px;
    }
  }

  .form__text-label {
    margin-right: 15px;
  }

  .form__text-input {
    padding-left: 18px;
  }

  .form__icon {
    right: 15px;
  }

  .form__checkbox-item {
    flex: 0 0 45%;
    padding-bottom: 32px;
  }

  .form__checkbox:checked + label::after {
    bottom: 18px;
  }

  .form__wrapper-submit {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .form__btn-submit {
    flex: 0 0 45%;
    padding: 17px 27px;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 20px;
  }

  .form__legend {
    padding-left: 65px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0 0 81px;
  }

  .form__text-label {
    margin-right: 20px;

    &--phone {
      margin-right: 8px;
    }
  }

  .form__icon {
    right: 22px;
    top: 39%;
  }

  .form__radio-label {
    padding-top: 23px;

    &::before {
      top: 13px;
      left: 29px;
    }
  }

  .form__radio:checked + label::after {
    top: 24px;
    left: 40px;
  }

  .form__block-wrapper,
  .form__owner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .form__block-wrapper,
  .form__block-inner {
    padding-left: 17px;
    padding-right: 21px;
  }

  .form__wrapper-submit {
    padding-left: 22px;
  }

  .form__block--cat,
  .form__block--programm,
  .form__text-wrapper {
    flex: 0 0 570px;
    padding-bottom: 18px;
  }

  .form__block--programm {
    padding-bottom: 27px;
  }

  .form__block--owner {
    margin: 72px 0;
  }

  .form__block--comment {
    padding-bottom: 85px;
  }

  .form__block--cat {
    padding: 0;
  }

  .form__block-title {
    margin: -20px 10px 74px -40px;

    &--addition {
      margin-bottom: 50px;
    }

    &--comment {
      margin-bottom: 72px;
    }

    &::after {
      left: -30px;
      top: 55%;
    }
  }

  .form__checkbox-item {
    flex: 0 0 20%;
    padding-bottom: 0;
    margin-right: 5px;
  }

  .form__checkbox-label {
    padding-left: 60px;
  }

  .form__btn-submit {
    flex: 0 0 568px;
    margin-top: 59px;
  }

  .form__legend {
    padding-left: 87px;
  }
}
