.form {
  padding-top: 40px;
  padding-bottom: 32px;
}

.form__block {
  border: none;
  padding: 0;
  margin: 0;

  &--cat {
    padding-top: 27px;
    padding-bottom: 23px;
  }

  &--programm {
    padding-top: 20px;
    padding-bottom: 21px;
    border-bottom: 1px solid $grey-silver;
    border-top: 1px solid $grey-silver;
    display: flex;
    flex-wrap: wrap;
  }

  &--owner {
    margin-top: 32px;
    margin-bottom: 35px;
  }

  &--comment {
    padding-bottom: 31px;
  }

  &--addition {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__block-title {
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
}

.form__text-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
}

.form__text-label {
  max-width: 40%;
  margin-right: 16px;
  flex-shrink: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.form__text-input {
  padding: 12px;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $grey-dark;
  border: 1px solid $grey-silver;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__radio-label,
.form__checkbox-label {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.form__textarea {
  width: 100%;
  padding: 13px 15px;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $grey-dark;
  border: 1px solid $grey-silver;
}

.form__btn-submit {
  margin-top: 34px;
  margin-bottom: 24px;
}

.form__legend {
  font-size: 14px;
  line-height: 16px;
  color: $grey-dark;
}
