.main-nav__toggle {
  display: block;
  position: absolute;
  width: 25px;
  top: 23px;
  right: 20px;
  height: 19px;
  z-index: 2;
  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat 50% 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  .main-nav--no-js & {
    display: none;
  }

  .main-nav--closed & {
    display: block;
  }
}

.main-nav__list {
  display: block;
  padding: 0;
  margin: 0 -20px;
  list-style: none;
  text-align: center;
  border-top: 1px solid $grey-silver;
}

.main-nav__item {
  border-bottom: 1px solid $grey-silver;

  &:last-child {
    border-bottom: none;
  }
}

.main-nav__link {
  display: block;
  padding: 23px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-base-text;
}

.main-nav__link[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width - 1) {
  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--opened .main-nav__toggle {
    background: url("../img/icon-close.svg") no-repeat 50% 50%;
    width: 19px;
  }

  .main-nav--no-js .main-nav__list {
    display: block;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    max-width: 470px;
    margin-left: auto;
  }

  .main-nav__list {
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-top: none;

    @include reset-list;
  }

  .main-nav__item {
    border-bottom: none;
    margin-left: 25px;
  }

  .main-nav__link {
    padding: 21px 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    border-top: none;

    &--active {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 12px;
        left: 0;
        height: 2px;
        background: $green;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 580px;
    max-height: 130px;
  }

  .main-nav__item {
    margin-left: 24px;
  }

  .main-nav__link {
    font-size: 20px;
  }

  .main-nav--index .main-nav__link {
    color: white;

    &--active::after {
      background: white;
    }
  }
}
