.main-block {
  padding-bottom: 22px;
  text-align: center;
  background:
    url("../img/index-background-mobile@1x.jpg") no-repeat,
    linear-gradient(to bottom, $light-green 305px, white 305px);
  background-position: center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to bottom, $light-green 305px, white 305px);
    background-size: 320px auto, auto;
  }
}

.main-block__title {
  margin: 0 0 24px;
  padding-top: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: white;
}

.main-block__description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
}

.main-block__image {
  display: block;
  margin: 30px auto 0;
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .main-block {
    position: relative;
    min-height: 858px;
    text-align: left;
    background: none;
  }

  .main-block__container--index {
    padding-left: 105px;
  }

  .main-block__title {
    padding-top: 50px;
    margin-bottom: 37px;
    width: 460px;
    font-size: 60px;
    line-height: 1;
    color: $color-base-text;
  }

  .main-block__description {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 1;
    color: $color-base-text;
  }

  .main-block__image {
    position: absolute;
    bottom: 5px;
    z-index: -1;
    margin-left: -87px;
    width: 709px;
    height: 609px;
  }

  .main-block__btn {
    z-index: 2;
    padding: 16px 23px;
    width: auto;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-block {
    margin: -126px 0 80px 0;
    min-height: 696px;
    text-align: left;
    background:
      url("../img/index-background-desktop@1x.jpg") no-repeat,
      linear-gradient(to right, white 50%, $light-green 50%);
    background-position: right top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"),
        linear-gradient(to right, white 50%, $light-green 50%);
      background-size: 720px auto, auto;
    }
  }

  .main-block__container--index {
    padding-left: 100px;
  }

  .main-block__title {
    padding-top: 227px;
    margin-bottom: 37px;
  }

  .main-block__description {
    margin-bottom: 53px;
  }

  .main-block__image {
    z-index: 2;
    margin-left: 372px;
    bottom: 50px;
    width: 552px;
    height: 499px;
  }
}
