.main-nav {
  color: $color-base-text;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  padding: 0;
  margin: 0 -20px;
  list-style: none;
  text-align: center;
}

.main-nav__link {
  display: block;
  padding: 23px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-base-text;
  border-bottom: 1px solid $grey-silver;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 460px;
    margin-left: auto;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    @include reset-list;
  }

  .main-nav__link {
    border-top: none;
    font-size: 18px;
    line-height: 25px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 570px;
  }

  .main-nav__link {
    font-size: 20px;
  }

  .main-nav__link--index {
    color: white;
  }
}
