.main-block {
  padding-bottom: 22px;
  text-align: center;
  background:
    url("../img/index-background-mobile@1x.jpg") no-repeat,
    linear-gradient(to bottom, $light-green  305px, white 305px);
  background-position: center top;
}

.main-block__title {
  margin: 0 0 24px;
  padding-top: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: white;
}

.main-block__description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
}

.main-block__image {
  display: block;
  margin: 30px auto 0;
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .main-block {
    position: relative;
    min-height: 860px;
    text-align: left;
    background: none;
  }

  .main-block__container--index {
    padding-left: 90px;
  }

  .main-block__title {
    padding-top: 59px;
    margin-bottom: 33px;
    width: 460px;
    font-size: 60px;
    line-height: 1;
    color: $color-base-text;
  }

  .main-block__description {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 1;
    color: $color-base-text;
  }

  .main-block__image {
    position: absolute;
    bottom: 0;
    z-index: -1;
    margin-left: -50px;
    width: 709px;
    height: 609px;
  }

  .main-block__btn {
    z-index: 2;
    padding: 16px 23px;
    width: auto;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-block {
    margin-bottom: 80px;
    margin-top: -136px;
    min-height: 696px;
    text-align: left;
    background:
      url("../img/index-background-desktop@1x.jpg") no-repeat,
      linear-gradient(to right, white 50%, $light-green 50%);
    background-position: right top;
  }

  .main-block__container--index {
    padding-left: 80px;
  }

  .main-block__title {
    padding-top: 170px;
  }

  .main-block__image {
    z-index: 2;
    margin-left: 390px;
    bottom: 50px;
    width: 552px;
    height: 499px;
  }
}
