.more-goods__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.more-goods__promo {
  margin: 0;
  margin-bottom: 22px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $grey-dark;
}

.more-goods__btn {
  width: 100%;
  color: $grey-dark;
  background-color: $grey;
}
