.more-goods {
  padding-top: 75px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid $grey-silver;
  border-bottom: 1px solid $grey-silver;
}

.more-goods__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.more-goods__promo {
  margin: 0;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px;
  color: $grey-dark;
}

.more-goods__btn--grey {
  color: $grey-dark;
  background-color: $grey;
}

@media (min-width: $tablet-width) {
  .more-goods {
    padding-bottom: 40px;
    padding-top: 165px;
    margin: 0 auto;
    width: 324px;
    border: 1px solid $grey-silver;
  }

  .more-goods__wrapper {
    padding: 0 38px 40px;
  }

  .more-goods__title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 auto 25px;
  }

  .more-goods__promo {
    font-size: 16px;
    margin: 0 auto 85px;
  }
}

@media (min-width: $desktop-width) {
  .more-goods {
    width: 245px;
    margin: 0 auto;
  }
}
