.page-footer {
  background-color: $grey;
}

.page-footer__contacts--main-page {
  background-color: white;
}

.page-footer__wrapper {
  padding-top: 37px;
  padding-bottom: 22px;
  background-color: $smoky;
}

.page-footer__logo {
  display: block;
  padding-bottom: 30px;
  text-align: center;
}

.page-footer__social {
  @include reset-list;
  padding: 20px 0;
  border-bottom: 1px solid $grey-light;
  border-top: 1px solid $grey-light;
}

.page-footer__copyright {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: $grey-dark;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__wrapper {
    padding-top: 27px;
  }

  .contacts__city {
    margin-top: 20px;
    display: block;
  }

  .page-footer__logo {
    padding-bottom: 0;
  }

  .page-footer__social {
    border: none;
  }

  .page-footer__copyright {
    padding-top: 0;
    display: block;
    align-self: baseline;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__contacts {
    position: relative;
  }

  .contacts {
    position: absolute;
    top: 50px;
    left: 110px;
    z-index: 2;
    max-width: 570px;
    background-color: white;
  }

  .contacts__map {
    height: 400px;
  }
}
