.page-header__logo-link {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  max-width: 230px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

@media (max-width: $tablet-width - 1) {
  .page-header--catalog,
  .page-header--form {
    border-bottom: 1px solid $grey-silver;
  }
}

@media (min-width: $tablet-width) {
  .page-header__container {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .page-header__logo-link {
    padding-top: 6px;
    max-width: 174px;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    max-height: 126px;
  }

  .page-header__logo-link {
    max-width: 202px;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
