.page-footer {
  background-color: $grey;
}

.page-footer__contacts--main-page {
  background-color: white;
}

.page-footer__wrapper {
  padding-top: 37px;
  padding-bottom: 40px;
  background-color: $smoky;
}

.page-footer__logo {
  display: block;
  padding-bottom: 27px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid $grey-light;
  border-top: 1px solid $grey-light;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-top: 22px;
  font-size: 16px;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__wrapper {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .contacts__city {
    margin-top: 20px;
    display: block;
  }

  .page-footer__logo {
    padding-bottom: 0;
  }

  .page-footer__social {
    padding-left: 37px;
    border: none;
  }

  .page-footer__copyright {
    padding-top: 20px;
    align-self: baseline;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__contacts {
    position: relative;
  }

  .page-footer__wrapper {
    padding-top: 42px;

    &--catalog {
      padding-top: 42px;
    }
  }
}
