.page-main__title {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 26px;
  text-align: center;
}

.page-main__description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-base-text;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    padding-top: 50px;
    padding-bottom: 49px;
    text-align: left;
  }

  .page-main__description {
    padding-left: 40px;
    width: 380px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__description {
    padding: 12px 0 65px;
  }

  .page-main__title {
    padding-top: 65px;
    padding-bottom: 42px;
  }
}
