.page-main {
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid $grey-silver;
}

.page-main__title {
  margin: 0;
  padding-bottom: 22px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid $grey-silver;

  &--request {
    border-bottom: none;
  }
}

.page-main__description {
  margin: 0;
  text-transform: uppercase;
}
