.promo {
  padding-top: 20px;
  padding-bottom: 35px;
  background-color: $grey;
}

.promo__title {
  margin: 0 0 21px;
}

.promo__example {
  margin: 0 0 24px;
  padding-right: 14px;
}

.promo__stats-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo__stats-unit {
  flex: 0 0 44%;
  text-align: center;
}

.promo__stats-value {
  display: block;
  margin-bottom: 10px;
  padding: 15px 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: $color-base-text;
  text-transform: uppercase;
  border: 1px solid $grey-pinkish;
  border-radius: 3px;
}

.promo__stats-option {
  display: block;
  padding: 0 10px;
  margin: 0 15px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  transform: translateY(-20px);
  background-color: $grey;
}

.promo__costs {
  margin: 0 0 35px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  color: $color-base-text;
  text-align: center;
  text-transform: uppercase;
}

.promo__range {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 34px;
  max-width: 200px;
}

.promo__range-control {
  position: relative;
  margin-left: 18px;
  margin-right: 18px;
  width: 84px;
  height: 14px;
  border: 1px solid $grey-pinkish;
  border-radius: 6px;
  background-color: white;
}

.promo__range-toggle {
  position: absolute;
  content: "";
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 3px;
}

.promo__range-btn {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    z-index: 1;
    margin-top: -30px;
    padding-top: 0;
    padding-bottom: 12px;
    border-top: 1px solid $grey-light;
    background: linear-gradient(to bottom, white 619px, $grey 619px);

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      height: 465px;
      background: linear-gradient(to right, $grey 50%, $grey-cloud 50%);
    }
  }

  .promo__stats-box {
    display: flex;
    flex-wrap: wrap;
  }

  .promo__stats-wrapper {
    max-width: 365px;
    width: 100%;
  }

  .promo__stats-unit {
    max-width: 162px;
  }

  .promo__stats-value {
    font-size: 30px;
    line-height: 37px;
  }

  .promo__title {
    margin-top: 49px;
    margin-bottom: 58px;
  }

  .promo__example {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  .promo__stats-option {
    margin: 0 7px;
    font-size: 14px;
    line-height: 1;
    background-color: white;
  }

  .promo__costs {
    margin: 12px 0 105px auto;
    max-width: 195px;
    text-align: right;
    font-size: 20px;
    line-height: 1;
  }

  .promo__price {
    display: block;
    margin-top: 10px;
  }

  .promo__slider {
    min-height: 610px;
  }

  .promo__range {
    max-width: 575px;
    padding: 4px 0 30px;
    align-items: center;
  }

  .promo__range-control {
    width: 100%;
    height: 6px;
    border: none;
    border-radius: 3px;
    background-color: $grey-fossil;
  }

  .promo__range-toggle {
    position: absolute;
    top: -15px;
    left: 47%;
    width: 32px;
    height: 32px;
    background: white;
    border: 1px solid $grey-fossil;
    border-radius: 50%;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 11px;
      left: 11px;
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: 1px solid $green;
    }
  }

  .promo__range-btn {
    padding: 5px 0;
    font-size: 20px;
    border-bottom: 1px dotted $grey-light;
    z-index: 2;

    &:hover {
      border-bottom: 1px solid $grey-dove;
    }

    &:active {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    border-top: 0;
    padding: 0;
    background: linear-gradient(to bottom, white 132px, $grey 132px);

    &::after {
      background: none;
    }
  }

  .promo__case {
    display: flex;

    &::before,
    &::after {
      content: "";
      flex: 1 0 0;
    }
  }

  .promo__case::after {
    background-color: $grey-cloud;
  }

  .promo__wrapper {
    flex: 0 0 1220px;
    position: relative;
    padding: 0 760px 64px 0;
  }

  .promo__title {
    max-width: 50%;
    margin-top: 47px;
    margin-bottom: 72px;
  }

  .promo__example {
    padding-top: 73px;
    margin-bottom: 68px;
    padding-right: 0;
  }

  .promo__stats-box {
    flex-direction: column;
  }

  .promo__stats-value {
    margin-bottom: 13px;
  }

  .promo__stats-option {
    background-color: $grey;
  }

  .promo__costs {
    display: flex;
    flex-wrap: wrap;
    padding-top: 38px;
    margin: 0;
    max-width: 355px;
    text-align: left;
  }

  .promo__mark {
    margin-right: 50px;
  }

  .promo__price {
    margin-top: 0;
  }

  .promo__slider {
    margin-left: auto;
    padding-bottom: 62px;
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: auto;
  }

  .promo__backdrop {
    position: absolute;
    bottom: 0;
    right: -40px;
    width: 325px;
    height: 100%;
    background-color: $grey-cloud;
    z-index: -2;
  }

  .promo__range {
    margin-right: 0;
    margin-left: 120px;
    padding: 30px 0 0;
  }

  .promo__range-toggle {
    left: 47%;
    top: -10px;
    width: 32px;
  }
}
