.social__link {
  padding: 5px 17px;
  text-decoration: none;
  fill: $grey-brownish;

  &:hover .social__icon {
    fill: $green;
    outline: none;
  }

  &:active .social__icon {
    opacity: 0.3;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    padding: 5px 13px;
  }

  .social__icon--vk {
    height: 17px;
    width: 30px;
  }

  .social__icon--insta {
    height: 23px;
    width: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .social__link {
    padding: 5px 14px;
  }
}
