$color-base-text: #111111;
$grey: #f2f2f2;
$grey-cloud: #eaeaea;
$grey-shadow: #222222;
$grey-dark: #444444;
$grey-light: #d9d9d9;
$grey-silver: #e6e6e6;
$grey-pinkish: #cdcdcd;
$smoky: #edecec;
$grey-fossil: #dcdcdc;
$grey-dove: #989898;
$grey-coin: #ebebeb;
$grey-fog: #bababa;
$light-green: #63a73a;
$green: #68b738;
$leaf-green: #5eaa2f;
$red: #ff8282;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
